.person-info-container {
  background-color: red;
}

#person-info-top-container {
  background-color: yellow;
}

#person-info-top-left {
  background-color: blue;

  span {
    font-size: 18px;
  }
}

.person-info-top-right {
  background-color: green;
  color: red;
  * {
    font-size: 48px;
  }
}
